<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="uk.gov.dwp" />

	<beans:import resource="mongo-config.xml" />

	<http auto-config="true">
		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		<intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
		<form-login login-page="/login" authentication-failure-url="/login?error"
			authentication-success-handler-ref="customAuthenticationSuccessHandler"
			username-parameter="username" password-parameter="password" />

		<logout logout-url="/logout" success-handler-ref="customLogoutHandler"
			delete-cookies="JSESSIONID" />

		<!-- <session-management invalid-session-url="/login?expiredSession" /> -->
		<!-- <session-management>
			<concurrency-control max-sessions="1"
				expired-url="/login?expiredSession" />
		</session-management> -->
		
		<access-denied-handler error-page="/login?accessDenied"/>

		<!-- enable csrf protection -->
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder hash="plaintext" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>