<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<!-- Console Appender -->
	<!-- This default ConsoleAppender is used to log all NON perf4j messages 
		to System.out -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n" />
		</layout>
	</appender>

	<!-- File Appender -->
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false" />
		<param name="maxFileSize" value="100KB" />
		<param name="maxBackupIndex" value="5" />
		<!-- For Tomcat -->
		<!-- param name="file" value="${catalina.home}/logs/myStruts1App.log" / -->
		<param name="file"
			value="C:/Users/samba.mitra/Desktop/Samba/Softwares/apache-tomcat-8.0.27-windows-x64/apache-tomcat-8.0.27/logs/application.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n" />
		</layout>
	</appender>

	<!-- This file appender is used to output aggregated performance statistics -->
	<appender name="perfFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File"
			value="C:/Users/samba.mitra/Desktop/Samba/Softwares/apache-tomcat-8.0.27-windows-x64/apache-tomcat-8.0.27/logs/perfStats.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n" />
		</layout>
	</appender>

	<!-- Perf4j Appender -->
	<!-- The TimeSlice option is used to determine the time window for which 
		all received StopWatch logs are aggregated to create a single GroupedTimingStatistics
		log. -->
	<appender name="CoalescingStatistics"
		class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
		<param name="TimeSlice" value="600000" />
		<appender-ref ref="perfFileAppender" />
	</appender>

	<!-- Perf4j Logger -->
	<!-- The Perf4J logger. Note that org.perf4j.TimingLogger is the value of 
		the org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that additivity 
		is set to false, which is usually what is desired – this means that timing 
		statements will only be sent to this logger and NOT to upstream loggers. -->
	<logger name="org.perf4j.TimingLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="perfFileAppender" />
	</logger>

	<!-- Application Loggers -->
	<logger name="uk.gov.dwp">
		<level value="DEBUG" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.core">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework.context">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework.web">
		<level value="ERROR" />
	</logger>

	<!-- Root Logger -->
	<!-- The root logger sends all log statements EXCEPT those sent to the perf4j 
		logger to System.out and File. -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</root>

</log4j:configuration>
